    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema Abaroa{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

<header class="header">
    Unidad Educativa “Eduardo Abaroa”
</header>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert" style="background:#cff4fc; color:#055160; border-left:5px solid #055160; margin-bottom:15px;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    <!-- Aquí irán los contenidos de cada página -->
    {% endblock %}
</div>

<footer class="footer">
    © {{ now|date:"Y" }} Unidad Educativa Eduardo Abaroa — Todos los derechos reservados
</footer>

</body>
</html>
