{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2 class="title-center">Bienvenido, {{ request.user.username }}</h2>

<div class="card" style="max-width:500px; margin:auto; text-align:center; padding:40px;">

    <a href="{% url 'registrar_asistencia' %}" 
       class="btn" 
       style="display:block; padding:15px; font-size:18px; margin-bottom:20px;">
       Registrar Asistencia
    </a>

    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit" 
                style="background:#dc3545; padding:12px; border-radius:5px; width:100%; font-size:16px;">
            Cerrar Sesión
        </button>
    </form>

</div>

{% endblock %}
