{% extends 'base.html' %}
{% load static %}

{% block title %}Registro de Usuario{% endblock %}

{% block content %}

<h2 class="title-center">Registro de Usuario</h2>

<div class="card">

    {% if messages %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form id="formRegistro" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <h3 style="color:#003366; margin-top:20px;">Captura tu Rostro</h3>

        <video id="video" autoplay></video>

        <button type="button" class="btn" onclick="capturar()">
            Capturar rostro
        </button>

        <div id="msgCaptura" 
            class="alert" 
            style="display:none; background:#d1e7dd; color:#0f5132; border-left:5px solid #0f5132; margin-top:15px;">
            Rostro capturado correctamente.
        </div>

        <!-- Archivo que guarda la captura -->
        <input type="file" name="frame" id="frameInput" hidden>

        <!-- ESTE ES EL CAMBIO CRÍTICO -->
        <button type="submit" class="btn" style="margin-top:20px;">
            Registrar
        </button>
    </form>


</div>

<script>
    // Activar webcam
    const video = document.getElementById('video');

    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => video.srcObject = stream)
        .catch(err => alert("No se pudo acceder a la cámara: " + err));

    // Capturar imagen del video
        function capturar() {

        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;

        const ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0);

        canvas.toBlob(function(blob) {

            if (!blob) {
                alert("Error: no se pudo capturar la imagen.");
                return;
            }

            const reader = new FileReader();

            reader.onloadend = function () {

                // Convertir el blob a ArrayBuffer
                const arrayBuffer = reader.result;

                // Crear archivo REAL con contenido garantizado
                const file = new File([arrayBuffer], "captura.jpg", { type: "image/jpeg" });

                const frameInput = document.getElementById("frameInput");

                const dataTransfer = new DataTransfer();
                dataTransfer.items.add(file);
                frameInput.files = dataTransfer.files;

                console.log("ARCHIVO INSERTADO:", frameInput.files[0]);  // DEBE mostrar UploadedFile
                document.getElementById("msgCaptura").style.display = "block";
            };

            reader.readAsArrayBuffer(blob);

        }, 'image/jpeg');
    }




</script>

{% endblock %}
